<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="x86" />
    </assemblyBinding>
  </runtime>
  <connectionStrings>
    <add name="Sql" connectionString="provider=Microsoft.Jet.OleDb.4.0;Data Source=D:\GitHub\WF_Calc\database\wf_cacl.mdb"/>
    <add name="OleDb" connectionString="provider=Microsoft.Jet.OleDb.4.0;Data Source=D:\GitHub\WF_Calc\database\wf_cacl.mdb"/>
    <add name="Odbc" connectionString="provider=Microsoft.Jet.OleDb.4.0;Data Source=D:\GitHub\WF_Calc\database\wf_cacl.mdb"/>
    <!--<add name="access_db" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;User ID=Admin;Data Source=D:\GitHub\WF_Calc\database\wf_cacl.accdb;Mode=Share Deny None;Jet OLEDB:System database= ;Jet OLEDB:Registry Path= ;Jet OLEDB:Database Password=123456;Jet OLEDB:Engine Type=6;Jet OLEDB:Database Locking Mode=1;Jet OLEDB:Global Partial Bulk Ops=2;Jet OLEDB:Global Bulk Transactions=1;Jet OLEDB:New Database Password= ;Jet OLEDB:Create System Database=False;Jet OLEDB:Encrypt Database=False;Jet OLEDB:Don't Copy Locale on Compact=False;Jet OLEDB:Compact Without Replica Repair=True;Jet OLEDB:SFP=False;Jet OLEDB:Support Complex Data=False;"/>-->
  </connectionStrings>
  <appSettings>
    <add key="SystemName" value="XXX装修系统"/>
    <add key="dbType" value="OleDb"/>
    <!--软件模式 0开发，1正常-->
    <add key="dev" value="0"/>
  </appSettings>
</configuration>