<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="${basedir}/temp/nlog-internal.log">
  <targets>
    <target name="Trace_file" xsi:type="File" fileName="${basedir}/Logs/Trace${date:format=yyyyMMdd}.LOG"
         layout="${date:format=yyyy}-${date:format=MM}-${date:format=dd} ${date:format=HH}:${date:format=mm}:${date:format=ss}:|${level}| ${message} ${onexception:${exception:format=tostring} ${newline} ${stacktrace} ${newline}" />

    <target name="MxForPLC_file" xsi:type="File" fileName="${basedir}/Logs/MxForPLC${date:format=yyyyMMdd}.LOG"
             layout="${date:format=yyyy}-${date:format=MM}-${date:format=dd} ${date:format=HH}:${date:format=mm}:${date:format=ss}:|${level}| ${message} ${onexception:${exception:format=tostring} ${newline} ${stacktrace} ${newline}" />

    <target name="SqlForDB_file" xsi:type="File" fileName="${basedir}/Logs/SqlForDB${date:format=yyyyMMdd}.LOG"
             layout="${date:format=yyyy}-${date:format=MM}-${date:format=dd} ${date:format=HH}:${date:format=mm}:${date:format=ss}:|${level}| ${message} ${onexception:${exception:format=tostring} ${newline} ${stacktrace} ${newline}" />

    <target name="Mat_file" xsi:type="File" fileName="${basedir}/Logs/Mat${date:format=yyyyMMdd}.LOG"
             layout="${date:format=yyyy}-${date:format=MM}-${date:format=dd} ${date:format=HH}:${date:format=mm}:${date:format=ss}:|${level}| ${message} ${onexception:${exception:format=tostring} ${newline} ${stacktrace} ${newline}" />

    <target name="Secs_file" xsi:type="File" fileName="${basedir}/Logs/Secs${date:format=yyyyMMdd}.LOG"
            layout="${date:format=yyyy}-${date:format=MM}-${date:format=dd} ${date:format=HH}:${date:format=mm}:${date:format=ss}:|${level}| ${message} ${onexception:${exception:format=tostring} ${newline} ${stacktrace} ${newline}" />
  </targets>

  <rules>
    <logger name="Trace" level="Trace" writeTo="Trace_file" />
    <logger name="TraceErr" level="Error" writeTo="Trace_file" />

    <logger name="MxForPLC" level="Trace" writeTo="MxForPLC_file" />
    <logger name="MxForPLCErr" level="Error" writeTo="MxForPLC_file" />

    <logger name="SqlForDB" level="Trace" writeTo="SqlForDB_file" />
    <logger name="SqlForDBErr" level="Error" writeTo="SqlForDB_file" />

    <logger name="Mat" level="Trace" writeTo="Mat_file" />
    <logger name="MatErr" level="Error" writeTo="Mat_file" />

    <logger name="Secs" level="Trace" writeTo="Secs_file" />
    <logger name="SecsErr" level="Error" writeTo="Secs_file" />
  </rules>
</nlog>